@import "../valo/styles.scss";

@mixin scarchive {
    @include valo;

    .sc-content {
        height: 100%;
    
        .v-slot-sc-searchBar {
            height: 3rem;
        }
        .v-slot-sc-splitPane {
            height: calc(100% - 3rem - 12px);
            overflow: auto;
        }
    }
    .sc-searchBar {
        width: 100%;
    }

    .sc-searchForm {
        width: 100%;
        .v-textfield {
            width: 90%;
        }
    }

    .sc-documentButtons {
        margin: 1rem;
    }

    .sc-searchResultCount {
        width: 100%;
        text-align: center;
    }

    .v-panel-caption {
        overflow: hidden;
    }
}